# Ignore all node_modules folders
**/node_modules/
**/dist/

/packages/shroom/public/hof_furni
/packages/shroom/resources
/packages/shroom/public
/packages/shroom/dist

/packages/example/public/hof_furni
/packages/example/public/figure
/packages/example/public/resources
/packages/example/public/images

/packages/storybook/public/resources
/packages/storybook/public/images

/packages/e2e/public/resources

yarn.lock
/.idea
/.parcel-cache
.env